<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-center" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Admin Panel
    </a>
    
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        @Html.ActionLink("Register", "Register", "Account", null, new { @class = "dropdown-item text-center" })
        @Html.ActionLink("Roles", "Index", "Role", null, new { @class = "dropdown-item text-center" })
    </div>
</li>