<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-center" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Finance Panel
    </a>
    <div class="dropdown-divider"></div>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        @Html.ActionLink("Purchases", "Purchases", "Finance", null, new { @class = "dropdown-item text-center" })
    </div>
</li>