<footer class="bg-dark text-white mt-4 text-center fixed-bottom">
    <div class="py-3">
        <div class="row">
            <div class="col-12"><p class="mb-0">Made with <i class="fa fa-heart"></i> by Angus Miller - @DateTime.Now.Year </p></div>
        </div>
    </div>
</footer>
