    @if (ViewBag.NotificationSuccess != null)
    {
        <div class="alert alert-success text-center">
            @ViewBag.NotificationSuccess
        </div>
    }
    else if (ViewBag.NotificationInfo != null)
    {
        <div class="alert alert-info text-center">
            @ViewBag.NotificationInfo
        </div>
    }
    else if (ViewBag.NotificationWarning != null)
    {
        <div class="alert alert-warning text-center">
            @ViewBag.NotificationWarning
        </div>
    }
    else if (ViewBag.NotificationDanger != null)
    {
        <div class="alert alert-danger text-center">
            @ViewBag.NotificationDanger
        </div>

    }









