
@{
    ViewBag.Title = "Purchases";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js" integrity="sha256-JG6hsuMjFnQ2spWq0UiaDRJBaarzhFbUxiUTxQDA9Lk=" crossorigin="anonymous"></script>

<h2>Purchases</h2>

<canvas id="myChart" width="400" height="400"></canvas>


<script type="text/javascript" src="@Url.Content("/Scripts/Finance/Purchases.js")"></script>



