@model IEnumerable<Mixr.Models.ProductDTO>

<div class="row">
    <div class="col-12 mb-0">
        <div id="SearchTable" class="d-flex justify-content-center align-items-center flex-column flex-lg-row">

        </div >
        <div id="search-table-divider" class="dropdown-divider"></div>
    </div>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>

    $(document).ready(function () {
        var SetData = $("#SearchTable");
        var SearchTable = $("#SearchTable");
        var Divider = $("#search-table-divider");
        SearchTable.hide()
        Divider.hide();
        $("#Search").keyup(function () {
            var SearchBy = $("#SearchBy").val();
            var SearchValue = $("#Search").val();

            if (!SearchValue) {
                SearchTable.hide()
                Divider.hide();
            } else {
                SetData.html("");
                $.ajax({
                    type: "post",
                    url: "/Search/GetSearchingData?SearchBy=" + SearchBy + "&SearchValue=" + SearchValue,
                    contentType: "html",
                    success: function (result) {
                        SearchTable.show();
                        Divider.show();
                        if (result.length == 0) {
                            SetData.append('<div class="d-flex justify-content-center"><p class="text-center btn btn-danger">No Matching Data</p></div>');
                        }
                        else {
                            $.each(result, function (index, value) {
                                var Data = '<div class="mr-lg-5 ml-lg-5 d-flex mb-sm-5 mb-lg-2 mt-lg-2 justify-content-center align-items-center"><a href="/Store/Product/' + value.Id +'">' +
                                    '<img width="100%" style="max-width: 200px" class="search-image" src="/Uploads/Products/' + value.Image + '"/>' +
                                    '<p class="mb-0 mt-2">' + value.Name + "</p>" +
                                    "<p>$" + value.Price + "</p>" +
                                    "</a></div>";
                                SetData.append(Data);
                            });
                            
                        }
                    }
                });
            }
                
            
        });
    });
</script>


